@tailwind base;
@layer base {
  :root {
    --input-height: 3.5rem;
    --input-external-label-height: 1.9rem;
    --input-error-text-height: 1.3rem;

    @apply font-notoSans;
  }
}

@tailwind components;
@layer components {
  .input-default {
    @apply h-[calc(var(--input-height)-2px)] w-full px-3 pb-[0.2rem] pt-[0.9rem] font-[500] leading-[2.15] outline-none bg-transparent;
    @apply font-normal text-black disabled:text-slate-800 dark:disabled:text-white/50;
    @apply placeholder:font-normal placeholder:text-slate-300 placeholder:opacity-100;
    @apply data-[input-use-external-label=true]:py-[0.34rem] data-[input-use-r-adornment]:pr-[3.5rem];
    @apply data-[input-hide-placeholder=true]:placeholder:opacity-0;
    @apply dark:text-white dark:placeholder:text-white;
  }
}

@tailwind utilities;